= render(Invitation::Layout::PageComponent.new(**content_tag_arguments)) do
  .space-y-4
    .swiper{ class: "h-[100%] w-[100%]" }
      .swiper-wrapper
        - 6.times do |i|
          .swiper-slide{ class: "!w-[100%] !h-auto flex items-center justify-center" }
            = image_tag("invitation/location/image-#{i + 1}.jpeg", class: "block w-full h-full object-cover grayscale")

    %h1{ class: "text-gray-700 uppercase tracking-[.2em]" } Parador de Plasencia

    %p.uppercase.leading-4{ class: "text-gray-500 text-[10px] tracking-[.15em]" }
      %span= t(".street")
      %br
      %span= t(".location")

    .w-full.inline-flex.items-center.gap-2
      - options = ::Html::TagAttributes.build({ tag: :a, icon: :envelop, scheme: :secondary, size: :small, href: "mailto:plasencia@parador.es", target: "_blank" })
      = invitation_icon_button_component(**options.to_h)
      - options = ::Html::TagAttributes.build({ tag: :a, icon: :phone, scheme: :secondary, size: :small, href: "tel:+34927425870", target: "_blank" })
      = invitation_icon_button_component(**options.to_h)
      - options = ::Html::TagAttributes.build({ tag: :a, icon: :link, scheme: :secondary, size: :small, href: "https://paradores.es/en/parador-de-plasencia", target: "_blank" })
      = invitation_icon_button_component(**options.to_h)
      - options = ::Html::TagAttributes.build({ label: t(".maps"), size: :small, scheme: :secondary, class: "flex-1 !h-9", href: "https://maps.app.goo.gl/yGXyBusx8WXzP4yi8", target: "_blank" })
      = invitation_button_component(tag: :a, href: "", **options.to_h)

    %h2{ class: "text-gray-700 font-ambrosia text-3xl !mt-8" }= t(".place.title")
    %p{ class: "text-[10px] tracking-[.05em] text-gray-500" }= t(".place.description_html")

    %h2{ class: "text-gray-700 font-ambrosia text-3xl !mt-8" }= t(".services.title")
    %p{ class: "text-[10px] tracking-[.05em] text-gray-500" }= t(".services.description_html")
