= render(Invitation::Layout::PageComponent.new(**content_tag_arguments)) do
  .space-y-4
    .swiper{ class: "h-[100%] w-[100%]" }
      .swiper-wrapper
        - 6.times do |i|
          .swiper-slide{ class: "!w-[100%] !h-auto flex items-center justify-center" }
            = image_tag("invitation/location/image-#{i + 1}.jpeg", class: "block w-full h-full object-cover grayscale")

    %h1{ class: "text-gray-700 uppercase tracking-[.2em]" } Parador de Plasencia

    %p.uppercase.leading-4{ class: "text-gray-500 text-[10px] tracking-[.15em]" }
      %span= t(".street")
      %br
      %span= t(".location")

    .w-full.inline-flex.items-center.gap-2
      - options = ::Html::TagAttributes.build({ tag: :a, icon: :envelop, scheme: :secondary, size: :small, href: "mailto:plasencia@parador.es", target: "_blank" })
      = invitation_icon_button_component(**options.to_h)
      - options = ::Html::TagAttributes.build({ tag: :a, icon: :phone, scheme: :secondary, size: :small, href: "tel:+34927425870", target: "_blank" })
      = invitation_icon_button_component(**options.to_h)
      - options = ::Html::TagAttributes.build({ tag: :a, icon: :link, scheme: :secondary, size: :small, href: "https://paradores.es/en/parador-de-plasencia", target: "_blank" })
      = invitation_icon_button_component(**options.to_h)
      - options = ::Html::TagAttributes.build({ label: t(".maps"), size: :small, scheme: :secondary, class: "flex-1 !h-9", href: "https://maps.app.goo.gl/yGXyBusx8WXzP4yi8", target: "_blank" })
      = invitation_button_component(tag: :a, href: "", **options.to_h)

    %h2{ class: "text-gray-700 font-ambrosia text-3xl !mt-8" }= t(".place.title")
    %p{ class: "text-[10px] tracking-[.05em] text-gray-500" }= t(".place.description_html")

    %h2{ class: "text-gray-700 font-ambrosia text-3xl !mt-8" }= t(".accomodation.title")
    %p{ class: "text-[10px] tracking-[.05em] text-gray-500" }= t(".accomodation.description_html")

    %ul.space-y-1.cursor-pointer
      %li
        = link_to("https://9nidos.es/", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } 9nidos, apartamentos turísticos
      %li
        = link_to("https://www.eurostarshotels.com/exe-alfonso-viii.html", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } Hotel Alfonso VIII
      %li
        = link_to("https://www.hotelrincon.com/", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } Hotel Rincón Extremeño

    %h2{ class: "text-gray-700 font-ambrosia text-3xl !mt-8" }= t(".city.title")
    %p{ class: "text-[10px] tracking-[.05em] text-gray-500" }= t(".city.description_html")

    %ul.space-y-1.cursor-pointer
      %li
        = link_to("https://www.turismovalledeljerte.com/", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } Valle del Jerte
      %li
        = link_to("https://turismovalledeljerte.com/que-ver-en-el-valle-del-jerte/naturaleza/reserva-natural-de-la-garganta-de-los-infiernos", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } Garganta de los Infiernos
      %li
        = link_to("https://www.patrimonionacional.es/visita/monasterio-de-san-jeronimo-de-yuste", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } Monasterio de Yuste
      %li
        = link_to("https://www.cuacosdeyuste.es/", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } Cuacos de Yuste
      %li
        = link_to("https://www.parquenacionaldemonfrague.com/", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } Parque Nacional de Mongragüe
      %li
        = link_to("https://www.sitiosdeespana.es/articulo/que-ver-en-las-hurdes-los-12-imprescindibles", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } Las Hurdes
      %li
        = link_to("https://turismo.caceres.es/", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } Cáceres
      %li
        = link_to("https://turismomerida.org/inicio/", target: "_blank", class: "inline-flex items-center justify-start gap-2 text-gray-500 hover:text-gray-700 underline underline-offset-2") do
          = icon_component(icon: :link, class: "!w-[12px] !h-[12px]")
          %p{ class: "text-[10px] tracking-[.05em]" } Mérida