= render(Invitation::Layout::PageComponent.new) do
  .px-8.py-16
    = title_component(title: t(".title"), size: :lg, class: "!font-ambrosia !text-7xl !text-gray-500 text-center")

    -# Events list
    .mt-16
      - schedule.decorator.event_group_decorators.each do |event_group_decorator|
        %div{ class: "flex flex-row justify-between items-center gap-4 pb-6 border-b-[1px] border-gray-200" }
          %p{ class: "w-[50px] flex flex-col items-center uppercase text-center text-gray-500" }
            %span.text-xs SEP
            %span.text-2xl{ class: "tracking-[.05em]" }= event_group_decorator.start_day

          %div{ class: "space-y-1" }
            %p{ class: "text-gray-700 text-xs uppercase tracking-[.15em]" }= event_group_decorator.place_name
            %p{ class: "text-gray-400 text-xs" }= event_group_decorator.full_address

        - event_group_decorator.event_decorators.each do |event_decorator|
          .flex.flex-row.space-x-6.items-center.divide-x.divide-gray-200
            %div{ class: "min-w-[40px]" }
              - unless event_decorator.other?
                = icon_component(icon: "invitation-#{event_decorator.kind}", size: :base, class: "m-auto ml-4 text-gray-500")
            .relative.space-y-1.pl-8.py-6
              .absolute.h-2.w-2.rounded-full.bg-gray-500{ class: "left-[-4.5px] top-[48%]" }
              %p.text-gray-500.text-xs{ class: "uppercase tracking-[.10em]" }= event_decorator.start_time
              %p.text-gray-700.text-xs{ class: "uppercase tracking-[.2em]" }= event_decorator.name
