= render(Invitation::Layout::PageComponent.new) do
  .relative.h-full.flex.flex-col.items-center.justify-center.px-6.py-10.gap-8.text-gray-500
    - options = { class: "w-full font-ambrosia text-7xl text-gray-500 text-center" }
    .flex.flex-col.items-center.justify-center
      %h1{ options } Alberto
      %h1{ options.merge(style: "font-size: 40px") } &
      %h1{ options } Andrea

    .space-y-6
      %h2.w-full.uppercase{ class: "w-[85%] text-[10px] tracking-[.15em]" }= t(".invitation_title_html")

      .flex.flex-row.items-center.justify-start
        %p.uppercase.text-center.leading-3.mr-6.pr-6.border-r.border-gray-200
          %span.text-xs= invitation.wedding.date.strftime("%b")
          %br
          %span.text-2xl{ class: "tracking-[.05em]" }= invitation.wedding.date.strftime("%d")
          %br
          %span.text-sm= invitation.wedding.date.strftime("%Y")
        %p.uppercase.leading-4{ class: "text-[10px] tracking-[.15em]" }
          %span.text-gray-700= t(".ceremony")
          %br
          %span Parador de Plasencia
          %br
          %span= t(".location")
          %p.uppercase.leading-4{ class: "text-[10px] tracking-[.1em]" }

    = render Invitation::Pages::Common::AcceptInvitationButton.new(invitation:, preview_mode:)