-# Inspiration from: https://primer.style/react/storybook/?path=/story/drafts-components-datatable--playground&args=align:end
-# Makes it possible to easily align data table cell content left - center - right
- subgrid_options = { class: "grid",
                      style: "grid-template-columns: subgrid; grid-column: -1 / 1;" }

= render BaseComponent.new(**content_tag_arguments) do
  - if title?
    = title

  - if items.empty?
    - if empty_state?
      = empty_state
  - else
    %table{ table_wrapper_arguments }
      %thead{ role: "rowgroup", **subgrid_options }
        %tr{ role: "row", **subgrid_options }
          - columns.each do |column|
            = render Cell.new(tag: :th, column:, columns:, **head_cell_arguments) do
              %p= column.title
      %tbody{ role: "rowgroup", **subgrid_options }
        - items.each_with_index do |item, row_index|
          = render BaseComponent.new(tag: :tr, role: "row", **subgrid_options) do
            - columns.each_with_index do |column, _index|
              = render Cell.new(tag: :td,
                                column:,
                                columns:,
                                horizontal_alignment: column.horizontal_alignment,
                                **body_cell_arguments(data: { "last-row": row_index == items.count - 1 })) do
                = column.call(item)
