= render BaseComponent.new(**content_tag_args) do
  %table{ table_wrapper_arguments }
    %thead{ role: "rowgroup" }
      %tr{ role: "row" }
        - columns.each do |column|
          = render Cell.new(tag: :th, column:, columns:, **head_cell_arguments) do
            %p= column.title
    %tbody{ role: "rowgroup" }
      - items.each_with_index do |item, row_index|
        = render BaseComponent.new(tag: :tr, role: "row") do
          - columns.each_with_index do |column, _index|
            = render Cell.new(tag: :td,
                              column:,
                              columns:,
                              **body_cell_arguments(data: { "last-row": row_index == items.count - 1 })) do
              = column.call(item)
