= base_component(**content_tag_args) do
  -# Trigger
  - if trigger?
    .content{ "data-action": "click->#{ModalComponent.stimulus_identifier}#open" }
      = trigger

  -# Background
  = base_component(**modal_background_arguments) do
    -# Body
    = modal_content
