= base_component(**content_tag_arguments) do
  .w-full.inline-flex.items-center.justify-between
    -# Title
    .flex.flex-row.items-start.gap-3
      - if leading_visual?
        = leading_visual
      %div.space-y-2
        .inline-flex.gap-3.items-center
          %h2= title
          - if trailing_visual?
            = trailing_visual
        -if subheader?
          = subheader

    -# Actions
    - if actions.any?
      .inline-flex.items-center.justify-end.gap-3
        - actions.each do |action|
          = action
