= turbo_frame_tag("modal", target: "_top") do
  = modal_component do |modal|
    - modal.with_modal_content(class: "w-[800px]") do |content|
      -# Header
      - title = editing? ? t(".title.edit") : t(".title.new")
      - content.with_header(title:)

      -# Guest Form
      = render Weddings::EditComponent::Form.new(wedding:)

      -# Footer
      - content.with_footer do
        .w-full.inline-flex.justify-end.gap-3
          = button_component(label: t(".cancel"), scheme: :secondary, data: { action: "click->common--modal-component#close" })
          - save_label = editing? ? t(".save.edit") : t(".save.create")
          = button_component(label: save_label, type: "submit", form: "wedding-form")
