- url = event.new_record? ? wedding_events_path(event.wedding) : wedding_event_path(event.wedding, event)
- method = event.new_record? ? :post : :patch
= form_with(model: event, url:, method:, builder: ComponentFormBuilder, **content_tag_arguments) do |form|
  -# Form Group
  .space-y-6
    = form.text_field(:name, label: "Event Name", required: true, field_wrapper_arguments: { class: "w-[40%]" })

    .inline-flex.gap-8
      = form.datetime_field(:start_time, label: "From", required: true, include_seconds: false)
      = form.datetime_field(:end_time, label: "To", required: true, include_seconds: false)

    = form.text_area(:description, label: "Event Description", field_wrapper_arguments: { class: "w-full" })

    %div
      %p{ class: "font-newsreader text-sm text-gray-500 group-data-[invalid=true]:text-cerise-400" } Event Kind
      = form.select(:kind, Event.kinds.values.map { [_1, _1] }, label: "Kind of Event", include_blank: true, required: true, class: "mt-0")

    - if event.wedding.places.any?
      = form.select(:place_id, event.wedding.places.map { ["#{_1.name}, #{_1.address.decorator.full_address}", _1.id] }, label: "Place", include_blank: false, required: true)
