%div{ content_tag_arguments }
  .relative.flex.flex-row.space-x-16{ class: "border-[1.5px]" }
    -# Left side of card, hidden on phone devices
    %div{ class: "hidden md:block" }
      = render Invitation::Pages::Cover.new(invitation:)

    -# Right side of card, invitation UI (page navigation happens here)
    .contents{ stimulus_target_option("pageAttachment", self.stimulus_identifier) }
      -# Page Navigation
      - options = ::Html::TagAttributes.build({ class: "absolute right-8 flex flex-row items-center gap-4 px-6 py-4 rounded-t-xl shadow-md z-[-1]",
                                                style: "background-image: url('#{asset_path("postcard-background.svg")}')" })
      - options = options.with_stimulus_target("menu", stimulus_identifier)
      %div{ options.to_h }
        - options = ::Html::TagAttributes.build({}).with_stimulus_action("click", stimulus_identifier, "navigateTo")
        - welcome_options = options.with_stimulus_parameter("page_name", stimulus_identifier, "welcome")
        = invitation_icon_button_component(icon: "sparkles", scheme: :cardboard, **welcome_options.to_h)
        - schedule_options = options.with_stimulus_parameter("page_name", stimulus_identifier, "schedule")
        = invitation_icon_button_component(icon: "calendar", scheme: :cardboard, **schedule_options.to_h)
        - travel_guide_options = options.with_stimulus_parameter("page_name", stimulus_identifier, "schedule")
        = invitation_icon_button_component(icon: "globe", scheme: :cardboard, **travel_guide_options.to_h)

      -# Renders all pages, each one wrapped in a template with the metadata required
      -# by the +javascript+ +Page+ class to navigate between invitation pages.
      - pages.each do |page|
        - options = stimulus_target_option("pageTemplate", self.stimulus_identifier)
        - options.merge!(data: { page_name: page.page_name })
        %template{ options }
          = render page.new(invitation:)
