%div{ content_tag_arguments }
  .w-fit.py-20.px-16.space-y-16.mx-auto{ class: "w-[720px]", style: "background-image: url('#{asset_path("postcard-background.svg")}')" }
    .w-full.flex.items-center.justify-center
      = image_tag("invitation/title.png", alt: "stamp", class: "w-[60%] h-auto")

    .flex.flex-row.items-center.justify-between.space-x-16
      = image_tag("invitation/ingredients-1.png", alt: "stamp", class: "w-[40%] h-auto")
      %p{ class: "w-[40%]" } Familia, amigos, suavidad, pasión. Todos necesarios para una masa madre fuerte

    .flex.flex-row.items-center.justify-between.space-x-16
      %p{ class: "w-[40%]" } Aventuras y desventuras de muchos viajes, para dar sabor al plato
      = image_tag("invitation/ingredients-2.png", alt: "stamp", class: "w-[40%] h-auto")

    - options = ::Html::TagAttributes.build({ class: "m-auto tracking-[.1em]" })
    - options = options.with_stimulus_action("click", Invitation::ShowComponent.stimulus_identifier, "openEnvelop")
    = button_component(label: "open wedding invitation", scheme: :secondary, **options.to_h)