%div{ content_tag_arguments }
  .py-20.mx-auto.font-angeldreams.text-gray-700{ class: "w-full max-w-[950px] m-auto text-3xl md:text-5xl shadow-2xl ,
                                                         max-[600px]:[&>div]:flex max-[600px]:[&>div]:flex-col ,
                                                         max-[600px]:[&>div]:px-16 max-[600px]:[&>div]:gap-4 ,
                                                         [&>div]:w-full [&>*]:flex ,
                                                         [&>div]:items-center [&>div]:justify-between [&>div]:py-6 [&>div]:px-24",
                                                 style: "background-image: url('#{asset_path("invitation/textures/envelop-texture.jpg")}')" }
    = image_tag("invitation/title.png", alt: "stamp", class: "w-[60%]  max-[600px]:w-[100%] m-auto")

    - options = { class: "min-[600px]:odd:flex-row-reverse min-[600px]even:flex-row ,
                          odd:text-end even:text-start ,
                          [&>*]:w-[46%] max-[600px]:[&>*]:w-[90%] max-[600px]:[&>*]:text-center max-[600px]:[&>*]:text-4xl" }

    %h2.font-angeldreamsl.text-center.mt-20.mx-auto.font-semibold{ class: "w-[80%] text-5xl md:text-6xl" }
      = t(".ingredients")

    %div{ options }
      = image_tag("invitation/ingredients_01.png", alt: "stamp", class: "h-auto")
      %p= t(".ingredient_01")

    %div{ options }
      = image_tag("invitation/ingredients_02.png", alt: "stamp", class: "h-auto")
      %p= t(".ingredient_02")

    %div{ options }
      = image_tag("invitation/ingredients_03.png", alt: "stamp", class: "h-auto")
      %p= t(".ingredient_03")

    %div{ options }
      = image_tag("invitation/ingredients_04.png", alt: "stamp", class: "h-auto")
      %p= t(".ingredient_04")

    %h2.font-angeldreamsl.text-center.mt-20.mx-auto.font-semibold{ class: "w-[80%] text-5xl md:text-6xl" }
      = t(".elaboration")

    %section{ class: "mt-20 !grid grid-cols-1 md:grid-cols-2 gap-16 !w-[75%] m-auto place-items-center text-center" }
      - 4.times do |i|
        %div{ class: "relative w-[80%] flex flex-col place-items-center gap-8 text-4xl md:text-5xl" }
          %p{ class: "absolute top-0 -left-6 md:-left-10" }= "#{i + 1}."
          %p= t(".elaboration_0#{i + 1}")
          = image_tag("invitation/preparation_0#{i + 1}.png", alt: "stamp", class: "h-auto")

    %h2.font-angeldreamsl.text-center.mt-20.mx-auto.font-semibold{ class: "w-[60%] text-5xl md:text-6xl leading-none" }
      = t(".eat")

    = image_tag("invitation/eat.png", alt: "stamp", class: "w-[80%] md:w-[60%] h-auto m-auto mt-8 mb-2")

    - options = ::Html::TagAttributes.build({ class: "m-auto tracking-[.1em]" })
    - options = options.with_stimulus_action("click", Invitation::ShowComponent.stimulus_identifier, "openEnvelop")
    = button_component(label: t(".open_invitation"), scheme: :secondary, **options.to_h)