= render Weddings::LayoutComponent.new(wedding:) do
  %div{ content_tag_arguments }
    = render Common::DataTableComponent.new(items: invitations,
                                            density: :spacious,
                                            class: "w-full h-full") do |table|
      - if invitations.any?
        - table.with_title(title: t(".header.title"), size: :small, class: "w-full") do |title|
          - title.with_subheader_text(t(".header.subtitle", count: wedding.invitations.count))
          - title.with_action(label: t(".header.add_invitation"),
                              tag: :a,
                              size: :medium,
                              scheme: :secondary,
                              href: new_wedding_invitation_path(wedding),
                              "data-turbo-frame": "modal")

      - if wedding.guests.count.zero?
        - table.with_empty_state(icon: "inbox",
                                 title: t(".empty.guests.title"),
                                 subtitle: t(".empty.guests.subtitle"),
                                 button_label: t(".empty.guests.add"),
                                 button_path: new_wedding_guest_path(wedding),
                                 button_arguments: { "data-turbo-frame": "modal" })
      - elsif wedding.invitations.count.zero?
        - table.with_empty_state(icon: "inbox",
                                 title: t(".empty.invitations.title"),
                                 subtitle: t(".empty.invitations.subtitle"),
                                 button_label: t(".empty.invitations.add"),
                                 button_path: new_wedding_invitation_path(wedding),
                                 button_arguments: { "data-turbo-frame": "modal" })
      - table.with_column(t(".table.guests")) { tag.p(_1.decorator.guest_names) }
      - table.with_column(t(".table.language")) { tag.p(t("languages.#{_1.language}")) }
      - table.with_column(t(".table.url")) do
        .inline-flex.gap-6.items-center.justify-between
          = link_to("/invitation/#{_1.id}", invitation_path(_1, preview_mode: true), target: "_blank", class: "text-gray-500 hover:text-gray-900 hover:underline")
          = icon_button_component(icon: "copy-clipboard", size: :small, scheme: :secondary)
      - table.with_column(t(".table.status")) { tag.p(_1.state) }
      - table.with_column(horizontal_alignment: :right) do |invitation|
        .inline-flex.gap-3
          - confirm_button_arguments = { tag: :a, "data-turbo-method": "delete", href: wedding_invitation_path(wedding, invitation) }
          = render Common::ModalConfirmationComponent.new(confirm_label: t(".delete.confirm"),
                                                          cancel_label: t(".delete.cancel"),
                                                          confirmation_header: t(".delete.title"),
                                                          confirmation_subheader: t(".delete.subtitle_html"),
                                                          confirm_button_arguments:) do |modal|
            - modal.with_trigger do
              = icon_button_component(icon: "trash", size: :small, scheme: :secondary)

          = icon_button_component(icon: "box-pencil",
                                    tag: :a,
                                    size: :small,
                                    scheme: :secondary,
                                    href: edit_wedding_invitation_path(wedding, invitation),
                                    "data-turbo-frame": "modal")
